*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}


/* root classes */
:root{

    --light:aqua;
}

/* utility classes */

span{

    color: var(--light);
}

h1,h2{

    color: white;

}

p{

    color: gainsboro;

}

.flex{

    display: flex;

}


.icons i{

    transition: 0.3s;
    color: rgb(255, 255, 255);
    background: transparent;

}

.icons i:hover{

    cursor: pointer;
    color: var(--light);
    /* box-shadow: 0px 0px 10px 5px var(--light); */

}

.container{

    padding-inline: 80px;
    width: 100%;
}



/* styling for about start */
.about{

    background-color: rgb(2, 4, 29);
    height: 100vh;
    
}




/* styling for header start */
header{

    width: 100%;
    /* height: 90px; */
    padding-block:30px;
    justify-content: space-between;
    align-items: center;

}

header h2 span{

    font-size: 2.2rem;
}


/* styling for headerIcons start */
.headerIcons{

    gap: 25px;
    font-size: 1.3rem;
}


/* styling for about-content start */
.about-content{

    justify-content: space-between;
    margin-top: 50px;
}

/* styling for left-about  start */
.left-about{

    flex-basis: 50%;

}

.left-about>h1{

    font-size: 2.9rem;
    line-height: 3.3rem;

}

.left-about>h1>span{

    color: var(--light);

}
.left-about>p{

    line-height: 1.6rem;
    padding-block: 30px 40px;

}







/* styling for right-about  start */
.right-about{

    flex-basis:47%;
}

.right-headings{

    gap: 30px;
    margin-bottom: 25px;
}

.right-headings h3{

    cursor: pointer;
    font-weight: lighter;
    font-size: 1.3rem;
    position: relative;
    padding-bottom: 5px;
    
}

.right-headings h3::before{

    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 30px;
    height: 2px;
    background-color: var(--light);
    transition: 0.3s ease;

}

.right-headings h3:hover::before{

    width: 100%;

}

#content p{

    width: 500px;
    line-height: 1.8rem;

}

/*styling for contactBox is here */
.contactBox div{

    margin-block: 10px;
}

.circleIcon{

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--light);
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}


.circleIcon i{

    color: black;
    transition: 0.3s ease;

}

.circleIcon:hover.circleIcon i{

    font-size: 1.4rem;
    
}
 





/* styling for sidebar start */
.sidebar{

    position: fixed;
    right: -80px;
    top: 130px;
    width: 160px;
    background-color: transparent;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 5px 0px var(--light);
    border-radius: 100px;
    flex-direction: column;
    gap: 50px;
    /* align-items: center; */
    justify-content: center;
    font-size: 1.2rem;
    padding-left: 35px;
    padding-block: 70px;
    backdrop-filter: blur(30px);
    transition: 0.5s;
}

.sidebar:hover{

    box-shadow: 0px 0px 10px 5px var(--light);

}